<!-- Completion Page -->
<%- include('partials/header') %>

    <div id="completion_main_box">
        <h1>Quiz Completed!</h1>
        <p>You answered a total of <strong><%= total %></strong> questions correctly.</p>

        <% if (isBest) { %>
            <h2>Congratulations! This is your best result!</h2>
        <% } else { %>
            <p>Your best result so far is <strong><%= best %></strong>.</p>
        <% } %>

        <div id="completion_links_block">
            <a class="link space" href="/quiz">Try Again</a>
            <a class="link" href="/">Back to Home</a>
        </div>
    </div>

</body>
</html>
